body {
    background-image: url('images/me.jpg');
}

.mouad {
    font-family: verdana;
    font-size: 30px;
    color: red;
}

h2 {

    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red
}

#hello {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: blue;

}